* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.a {
    text-decoration: none;
}